!.gitignore
releases/
build/
dist/
Team*/
*.pyc
*.bmp
*.bot
vssver.scc
__init__.py
Bindings.py
Chopper.py
Flipper.py
nobrain.py
Other.py
Poker.py
Pusher.py
Rammer.py
SimpleWeapon.py
Spinner.py
Tactics.py
Whipper.py
Teams.txt